.events{
  display: flex;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  min-height: 80vh;
}
.eventsList{
  display: flex;
  flex-direction: column;
}
.options{
  display: flex;
  flex-direction: column;
}
.filter{
  width: 20%;
  
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.filter > p{
  width: 3%;
}
.filters{
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.filterColumn1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.filterColumn2{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.radioButton{
  background-color: transparent;
  border: none;
}
.radioButtonContent{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.radioButtonContent > p {
  font-weight: bold;
  font-size: larger;
  margin-left: 10px;
  margin-right: 10px;
}