.eventCardButton{
  border: none;
  background-color: transparent;
}
.eventCard{
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  margin: 10px;
  width: 400px;
  height: 600px;
}
.eventImg{
  height: 50%;
  
  border-bottom: 1px solid white;
}
.eventDetails{
  height: 40%;
  display: flex;
  flex-direction: column;
}
.eventDetails > eventDetailsText
{
  height: 30%;
  display: flex;
}
.eventDetailsText> p {
  color: white;

}
.eventDescription{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.eventName{
  font-weight: bold;
  font-family: 'Sofia Sans';
  font-size: x-large;
  text-transform: uppercase;
  color: white;
}

.buttons{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.buttons > h1{
  color: white;
}
.status{
  width: 80%;
  margin: 5%;
}
.registerStatus{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.registerStatus > p{
  color: #A0F3AD;
  font-size: x-large;
  font-weight: bold;
  margin-left: 2%;
}
.seatStatus{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.seatStatus > p{
  color: #ECECAB;
  font-size: x-large;
  font-weight: bold;
  margin-left: 2%;
}
.buttons > button{
  width: 20%;
  height: 100%;
border: none;
background-color: transparent;
}
.eventImg >img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
}