.footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  height: 100px;
  background-color: black;
}
.footer >p {
  font-family: 'Big Shoulders Inline Display';
  font-weight: bold;
  color: white;
  font-size: 80px;
}
.themes{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 30%;
}
.themes > h1{
  color: white;
  margin-right: 2%;
}
.colorButton{
  height: 50%;
  width: 15%;
  background-color: transparent;
  border: none;
}
.colorBox{
  margin-right: 2%;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}